<footer class="footer">
    <p class="footer-title">Copyrights @ <span>Mohammed Ahmed</span></p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/mohammed-alzubaidi-50311a245/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/M__15z"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://github.com/M15z"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>

<script src="/javascript/script.js"></script>
</body>
</html>